<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="GoogleChrome.Dev"/>
    <package id="dropbox"/>
    <package id="SublimeText2.app"/>
    <package id="adobereader"/>
    <package id="git.install"/>
    <package id="nodejs.install"/>
    <package id="vlc"/>
    <package id="ccleaner"/>
    <package id="SourceTree"/>
    <package id="evernote"/>
    <package id="1password"/>
    <package id="lhaplus"/>
</packages>
